.footer__subscribe {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    max-width: 300px;
    margin: 0 0 20px;
}

@media screen and (max-width: $mobile) {
    .footer__subscribe {
        margin-bottom: 20px;
    }
}