.trainings {
    display: grid;
    position: relative;
    column-gap: 13%;
    grid-template-areas: 
    "title image"
    "paragraph image"
    ". image"
    "links image";
    margin: 0 120px;
    padding-top: 120px;
    padding-bottom: 120px;
    grid-template-rows: 60px repeat(3,auto);
    grid-template-columns: minmax(min-content,max-content);
}

@media screen and (max-width: $tablet) {
    .trainings {
        display: flex;
        flex-direction: column;
    }
}
  
  @media screen and (max-width: $mobile) {
    .trainings {
        margin: 80px 0 0;
        padding: 40px 0 60px;
        border-top: 1px solid $mobileBorder;
    }
}