.slider__item {
    display: grid;
    grid-template-areas: 
    "title title title"
    "paragraph paragraph paragraph"
    "image image image"
    "button button .";
}

@media screen and (max-width: $mobile) {
    .slider__item {
        grid-template-areas:
        "title button"
        "image image"
        "paragraph paragraph";
    }
}