.header__menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: var(--textColor);
}

.header__menu-link:hover {
    opacity: var(--maxOpacity);
    transition: .3s;
}