.theme-switcher {
  display: inline-block;
  align-self: flex-end;
  position: relative;
  width: 44px;
  height: 24px;
}
  
.theme-switcher:before {
  content: var(--sun);
  position: absolute;
  top: -2px;
  left: -46px;
  cursor: pointer;
}
  
.theme-switcher:after {
  content: var(--moon);
  position: absolute;
  top: 2px;
  right: -40px;  
  cursor: pointer;
}