.first-screen__button {
    grid-area: button;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    color: $textColorButton;
    width: 180px;
    height: 50px;
    border-radius: 4px;
    background-color: $colorButton;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: .7s ease-in;
    padding: 16px 0;
    z-index: 1;
}

.first-screen__button:before {
    content:'';
	background-color: $hoverColorButton;
	border-radius: 4px;
    position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 50px;
	transition: .7s ease-in;
    z-index: -1;
}

.first-screen__button:hover:before {
	width: 100%;
}

@media screen and (max-width: $mobile) {
    .first-screen__button {
        width: 100%;
        padding: 14px 0 13px;
        height: 50px;
        font-size: 13px;
        line-height: 19px;
    }
}