.header__hamburger-label {
    display: none;
    align-items: center;
    width: 26px;
    height: 26px;
    margin: 22px 15px 30px;
    cursor: pointer;
    z-index: 5;
}
  
  @media screen and (max-width: $mobile) {
    .header__hamburger-label {
        display: flex;
    }
}