.first-screen__capture {
    color: var(--textColor);
    grid-area: capture;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    padding-top: 167px;
    position: relative;
}

.first-screen__capture::after {
    content: "";
    position: absolute;
    width: 132px;
    height: 2px;
    background-color: var(--lineColor);
    bottom: 9px;
    left: 224px;
}

@media screen and (max-width: $tablet) {
    .first-screen__capture {
        display: none;
    }
}